# handling inblance data

In [4]:
import numpy as np
import pandas as pd

In [15]:
np.random.seed(123)
n_sample = 1000
class_0_ratio = 0.9
n_class_0 = int(n_sample*class_0_ratio)
n_class_1 = n_sample -n_class_0

In [16]:
n_class1,n_class_0

(100, 900)

In [17]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_0),
    'target': [0] * n_class_0  
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1  
})

In [22]:
df = pd.concat([class_0,class_1])

In [23]:
df.head()

   feature_1  feature_2  target
0   0.914369   2.551302       0
1   2.997345   2.419589       0
2   2.282978   3.815652       0
3   0.493705   1.747250       0
4   1.421400   1.707996       0

In [24]:
df.tail()

    feature_1  feature_2  target
95   1.376371   2.845701       1
96   2.239810   0.880077       1
97   1.131760   1.640703       1
98   2.902006   0.390305       1
99   2.697490   2.013570       1

In [26]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [27]:
## upsampling
df_minarority = df[df['target'] ==1]
df_majority = df[df['target'] ==0]

In [28]:
from sklearn.utils import resample

In [35]:
df_minarority_unsample = resample(df_minarority,replace=True,
         n_samples= len(df_majority),
         random_state= 42
        )

In [36]:
df_minarority_unsample.shape

(900, 3)

In [37]:
df_upsample = pd.concat([df_majority,df_minarority_unsample])

In [38]:
df_upsample.shape
df_upsample['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

# down sampling

In [39]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_0),
    'target': [0] * n_class_0  
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1  
})
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [48]:
## upsampling
df_minarority = df[df['target'] ==1]
df_majority = df[df['target'] ==0]
from sklearn.utils import resample
df_majority_downsample = resample(df_majority,replace=False,
         n_samples= len(df_minarority),
         random_state= 42
        )

In [49]:
df_majority_downsample.shape

(100, 3)

In [52]:
df_downsample =pd.concat([df_minarority,df_majority_downsample])

In [53]:
df_downsample.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64