In [3]:
from sklearn.preprocessing import LabelEncoder

# sample data
colors = ['Red', 'Blue', 'Green', 'Blue', 'Red']

# create object
le = LabelEncoder()

# fit and transform
encoded_colors = le.fit_transform(colors)

print(encoded_colors)
print(le.classes_)

[2 0 1 0 2]
['Blue' 'Green' 'Red']

# ordinal encodeinng

In [4]:
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

data = np.array([
    ['Low'],
    ['Medium'],
    ['High'],
    ['Medium']
])

# define order of categories
categories = [['Low', 'Medium', 'High']]

oe = OrdinalEncoder(categories=categories)

encoded = oe.fit_transform(data)
print(encoded)

[[0.]
 [1.]
 [2.]
 [1.]]

## traget guided  encodeing

In [14]:
import pandas as pd

df = pd.DataFrame({
    'City': ['Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Chennai',
             'Pune', 'Kolkata', 'Ahmedabad', 'Jaipur', 'Surat'],
    'Price': [75000, 68000, 72000, 60000, 65000,
              55000, 50000, 48000, 52000, 47000]
})

means = df.groupby('City')['Price'].mean().to_dict()
df['city_encoded'] =df['City'].map(means)

In [15]:
df[['city_encoded' ,'Price']]

   city_encoded  Price
0       75000.0  75000
1       68000.0  68000
2       72000.0  72000
3       60000.0  60000
4       65000.0  65000
5       55000.0  55000
6       50000.0  50000
7       48000.0  48000
8       52000.0  52000
9       47000.0  47000