# encodeig 
# there are  three type of encodeing 
# 1) OHE(one hot encodeing )
# 2) label encodeing 
# 3) ordinal encodeing 
## this are the encodeing use to  convert text data into numeric which is able to understand by machine

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# DataFrame
df = pd.DataFrame({
    "color":['red','black','pink','red','blue','green']
})

# Create OneHotEncoder instance
encoder = OneHotEncoder()

# Fit and transform
encoded_array = encoder.fit_transform(df[["color"]]).toarray()

# Create dataframe with encoded columns
encoder_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['color']))

# Concatenate original + encoded
final_df = pd.concat([df, encoder_df], axis=1)

final_df

   color  color_black  color_blue  color_green  color_pink  color_red
0    red          0.0         0.0          0.0         0.0        1.0
1  black          1.0         0.0          0.0         0.0        0.0
2   pink          0.0         0.0          0.0         1.0        0.0
3    red          0.0         0.0          0.0         0.0        1.0
4   blue          0.0         1.0          0.0         0.0        0.0
5  green          0.0         0.0          1.0         0.0        0.0

In [18]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# DataFrame
df = pd.DataFrame({
    'cars' : ['pagani','astenmartin','lembo','bmw','tesla','byd','bmw']
})

encoder = OneHotEncoder()
encoder_array = encoder.fit_transform(df[['cars']]).toarray()
encoder_df = pd.DataFrame(encoder_array, columns=encoder.get_feature_names_out(['cars']))
finnal_df = pd.concat( [df, encoder_df] , axis= 1)
finnal_df

          cars  cars_astenmartin  cars_bmw  cars_byd  cars_lembo  cars_pagani  cars_tesla
0       pagani               0.0       0.0       0.0         0.0          1.0         0.0
1  astenmartin               1.0       0.0       0.0         0.0          0.0         0.0
2        lembo               0.0       0.0       0.0         1.0          0.0         0.0
3          bmw               0.0       1.0       0.0         0.0          0.0         0.0
4        tesla               0.0       0.0       0.0         0.0          0.0         1.0
5          byd               0.0       0.0       1.0         0.0          0.0         0.0
6          bmw               0.0       1.0       0.0         0.0          0.0         0.0